@CHARSET "ISO-8859-1";

/* exteso tree box */
.extenso { margin-left: 6mm; }
/* Extenso tree name + local fields + methods */
.extenso-head { margin-left: 3mm; msrgin-right: -9mm;
		font-family: courier, monospace; font-size: 13px; }

/* uninitialized extenso field */
.ex-uninit { color: pink; }
/* initialized extenso field */

.ex-init { color: grey; }